.style {
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    color: white;
    font-size: 30px;
 }
 .style:hover {animation: shaking 0.5s infinite;
background-color: green; transition: 1s;}
 @keyframes shaking {
    0% {transform: rotate(0deg);}
    20% {transform: rotate(-4deg);}
    50% {transform: rotate(0deg);}
    70% {transform: rotate(4deg);}
    100% {transform: rotate(0deg);}
 }

 body{
   background-color: lightblue;
 }


h1{
   font-size: 5rem;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.textstyle{
   font-size: 3rem;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#response-text{
   font-size: 3rem;
}

.footers{
   background-color: #6495ED
   ;
}
